<div class="grid grid-cols-5 w-full py-6">
  <div class="col-start-3 m-auto">
    <h1>Scrappy</h1>
  </div>
  <div  class="col-start-3 m-auto">
    <%= image_tag("scrappy-doo-cropped.png", :alt => "scrappy logo", class: "rounded-full w-36 h-36 bg-amber-400") %>
  </div>
  <div class="col-start-3 m-auto">
    <%= form_with model: @user, url: user_sessions_path do |f| %>
    <div class="grid grid-cols-2 gap-3">
      <div class="col-span-2">
        <%= f.label :username %><br>
        <%= f.text_field :username, class: "form-field" %>
      </div>
      <div class="col-span-2">
        <%= f.label :password %><br>
        <%= f.password_field :password, class: "form-field" %>
      </div>
      <%= f.submit 'Login', class: "btn-primary col-span-1" %>
      <%= link_to 'Register', register_path, class: "btn-secondary col-span-1" %>
    </div>
    <% end %>
  </div>
</div>