<h1>Login page</h1>
<%= form_with model: @user, url: user_sessions_path do |f| %>
  <div>
    <%= f.label :username %><br>
    <%= f.text_field :username, class: "form-field" %>
  </div>
  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password, class: "form-field" %>
  </div>
  <p>
    <%= f.submit 'Login', class: "btn-primary" %>
    <%= link_to 'Register', register_path, class: "btn-primary py-3" %>
  </p>
   
<% end %>